@import "styles/mixins";
@import "styles/breakpoints";
@import "styles/variables";

$border-opacity: rgba(20, 54, 93, 0.1);

.header {
  @include flex(space-between, center);
  border-bottom: 1px solid $border-opacity;

  @media (max-width: $tablet) {
    padding: 0.5rem;
  }
}

.navigation {
  @media (max-width: $tablet) {
    display: none;
  }
}

.listItems {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: $brand-primary;
  text-transform: uppercase;
  letter-spacing: 1px;

  .listItem {
    &:hover {
      color: $brand-secondary;
      @include transition(color, 0.3s, ease-in-out);
    }
  }

  .listItem:first-child {
    margin-right: 1rem;
  }
}

.logo {
  @media (max-width: $tablet) {
    max-width: 10rem;
  }
}

.cart {
  max-width: 2.5rem;
  @include icon-hover-effect;
}
