@import "styles/mixins";
@import "styles/variables";
@import "styles/breakpoints";

.sidebar {
  position: fixed;
  top: 0;

  width: 0;
  height: 100%;

  background-color: $white;

  overflow-x: hidden;

  @include transition(all, 0.3s, ease-in-out);

  &-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.left-menu-active,
.right-menu-active {
  position: fixed;
  width: 25rem;
  height: 100%;
  @include transition(all, 0.3s, ease-in-out);
  overflow: hidden;
  z-index: 10;

  @media (max-width: $mobile) {
    width: 20rem;
  }
}

.left-menu-active {
  border-right: 2px solid $brand-primary;
}

.right-menu-active {
  border-left: 2px solid $brand-primary;
}
