@import "styles/mixins";
@import "styles/variables";

.sidebar {
  position: fixed;
  inset: 0;

  max-width: 80vh;
  height: 100vh;

  background: $white;
  z-index: 9;
  transform: translateX(-100%);
  @include transition(transform, 0.2s, ease-in-out);

  &-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.active {
  transform: translateX(0);
  @include transition(transform, 0.2s, ease-in-out);
}
