@import "styles/variables";
@import "styles/mixins";

.container {
  width: 100%;
  min-height: 50vh;
  @include flex(center, center);
}

.spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.2rem solid transparent;
  border-color: $brand-secondary;
  border-top-color: $brand-primary;
  border-radius: 50%;
  pointer-events: none;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
