@import "styles/mixins";
@import "styles/variables";
@import "styles/breakpoints";


.card {
  margin: 5rem 0;
  @include box-shadow;

  @media (max-width: $mobile) {
    margin: 3rem 0;
  }
}

.card-body {
  height: 35rem;
  display: flex;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    height: auto;
  }
}

