@import "styles/mixins";
@import "styles/variables";

.cart-item {
  @include flex(center, center);
  border-bottom: 1px solid rgba($dark-clr, 0.2);
  padding-bottom: 1rem;
  margin: 1rem;

  &__image {
    border: 1px solid rgba($dark-clr, 0.2);
    border-radius: 0.5rem;
  }

  &__name {
    opacity: 0.7;
  }

  &__name,
  &__action {
    height: 100%;
    flex: 1;
    @include flex(space-around, center);
    flex-direction: column;
  }

  &__price {
  }

  &__remove {
    text-transform: uppercase;
    color: $danger;
  }
}
