@font-face {
  font-family: "Kollektif";
  src: url("../assets/fonts/Kollektif.woff2") format("woff2");
}
@font-face {
  font-family: "Kollektif-Bold"; /*Can be any text*/
  src: url("../assets/fonts/Kollektif-Bold.woff2") format("woff2");
}
/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Kollektif", sans-serif;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Kollektif-Bold", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLES  */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
